.main {
    display: flex;
    flex-direction: row;
    margin-top: 140px;
    justify-content: center;
}
.content {
    border: none;
    margin: 20px;
    padding: 0;
    width: 70%;
}
fieldset {
    margin: 10px;
    padding-bottom: 30px;
}
label {
    cursor: pointer;
}

/* payment section */
.payment-section {
    justify-content: left;
    flex: 70%;
}
.payment-section input,
.payment-section textarea,
.payment-section select {
    width: 80%;
}
.payment-section input {
    height: 25px;
}
.payment-section textarea {
    height: 90px;
}
.payment-section select {
    height: 30px;
}
input, label, textarea, select {
    margin-left: 32px;
}
/* shipping/billing */
.name {
    display: flex;
    width: 70%;
}
.region {
    display: flex;
    width: 84%;
}
.checkbox, .radio {
    margin: 0 -15px 0 31px;
    float:left;
    display: block;
    width: auto !important;
    cursor: pointer;
}
.checkbox-input, .radio-input {
    margin-bottom: 10px;
}


/* cart section */
/* shipping options */
.radio-input input{
    margin-left: -23px;
}
.radio {
    margin-top: 7px;
}
fieldset.shipping-options-fieldset {
    padding-bottom: 30px !important;
}
.shipping-options-section {
    display: grid;
    grid-template-columns: auto auto;
}
.shipping-options-section label {
    margin: 0;
}
/* review items */
.cart-section {
    justify-content: right;
    flex: 30%;
}
.product-name::before, .product-name::after {
    content: none;
}
.checkout-info {
    display: flex;
    justify-content: center;
}
.shopping-cart img {
    width: 50px;
}
.shopping-cart-list {
    grid-template-columns: auto auto;
}
.cart-section fieldset {
    display: flex;
    padding: 0;
    justify-content: center;
}
.product-name {
    text-align: left;
}
.price {
    text-align: right;
}
.horizontal-rule {
    grid-column: 1/3;
    border-bottom: 1px solid rgb(124, 122, 122);
}

/* button */
#buttons {
    display: flex;
    justify-content: center;
}
#buttons input {
    margin: 0;
    font: 1em 'Comfortaa', cursive;
    padding: 5px 10px;
}