.main {
    margin-top: 180px;
}
.content {
    padding-top : 0;
    margin: 0 15%;
}
p, h1{
    text-align: center;
}
.options {
    display: flex;
}
.subscription-option {
    display: flex;
    flex-direction: column;
    border: 1px solid #c9beb5;
    border-radius: 25px;
    padding: 0 5%;
    margin: 0 20px;
    margin-bottom: 30px;
    justify-content: center;
}
.option-title {
    border-bottom: 1px solid #c9beb5;;
}
.subscription-option img {
    width: 100%;
    border-radius: 50%;
    padding-top: 20px;
}
.link-button {
    margin-top: 20px;
    height: 40px;
    padding: 5px 10px;
    font-size: 1em;
}

@media screen and (max-width: 1200px) {
    .options {
        flex-direction: column;
    }
    .options img {
        width: 40%;
    }
    .main {
        padding: 0;
        margin-top: 154px;
    }
    .content {
        padding-top: 0;
    }
    input, .subscription-option {
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 480px) {
    .main {
        margin-top: 0;
    }
    h3 {
        text-align: center;
    }
    
}
